@import "./variables";

.home_wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2rem;
        color: $grey-med;
    }
    button {
        margin-right: 1rem;
    }
}

.home_wrap_inner {
    display: flex;
    align-items: center;
}

.home_inner_panel {
    width: 50%;
}

.home_title {
    font-size: 6rem;
    font-weight: 700;
    color: $grey-lite;
}

.home_image {
    max-width: 500px;
}
