@import "./variables";

.home_wrap {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin-bottom: 2rem;
        color: $grey-med;
        max-width: 400px;
    }
    button {
        margin-right: 1rem;
    }
}

.home_wrap_inner {
    display: flex;
    align-items: center;
}

.home_inner_panel {
    width: 50%;
}

.home_title {
    font-size: 6rem;
    font-weight: 700;
    color: $grey-lite;
}

.home_image {
    max-width: 500px;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}

@media (max-width: $br-med) {
    .home_wrap,
    .home_wrap_inner {
        flex-direction: column;
        max-width: 100%;
    }
    .home_inner_panel,
    .home_image {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}
